@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');


/* background */
body {
  background-color: white;
}

.btn.btn-primary.btn-lg {
  height: 45px;
}

.btn.btn-hint.btn-lg {
  height: 45px;
}

th {
  text-align: center
}

.vspace {
  margin-top: 25px;
}

.spaced {
  letter-spacing: 15px;
}

/* changing text for the header (hangman game) */
.container h1 {
  /* font-family: 'Cabin', sans-serif; */
  color:rgb(30,30,30);
}

/* styling of buttons */
.btn.btn-primary,
.btn.btn-default,
.btn.btn-hint.btn-lg {
  font-family: 'Cabin', sans-serif;
  color: white;
  background-color: black;
  border-radius: 50;
  border: none;
  outline: none;
}

.btn.btn-defaultt {
  display: none;
}

/* when hovering mouse over the button */
.btn:hover {
  transform: scale(0.97);
}

.btn.btn-hint.btn-lg[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: 0%;
  left: 110%;
  color: black;
}




/* Drawing (changes colouring and sizing of hangman drawing) */
#drawing #hanging_rope {
  fill: none;
  stroke: #B05800;
  stroke-width: 3;
  stroke-linecap: round;
  z-index: -1;
}

#drawing {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;

}

#hangman-drawing > * {
  display: none
}
